In [ ]:
import pandas as pd

In [5]:
df = pd.read_csv("../dataset/job_postings.csv")

In [9]:
dfs = df[['job_title', 'job_location']].copy()

In [13]:
us_state_abbreviations = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
    "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
    "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
    "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
    "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]
pattern = r'\b(' + '|'.join(us_state_abbreviations) + r')\b'
df_state = dfs[dfs['job_location'].str.contains(pattern, na=False)]
df_state

C:\Users\yusse\AppData\Local\Temp\ipykernel_3604\934542658.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_state = dfs[dfs['job_location'].str.contains(pattern, na=False)]

                                          job_title       job_location
0                  Senior Machine Learning Engineer      New Haven, CT
1      Principal Software Engineer, ML Accelerators  San Francisco, CA
2              Senior ETL Data Warehouse Specialist       New York, NY
3       Senior Data Warehouse Developer / Architect     Harrisburg, PA
4                                Lead Data Engineer          Plano, TX
...                                             ...                ...
12210                      Data Entry Clerk - Excel        Atlanta, GA
12213  Corporate AML Alert Investigation Specialist      Kalispell, MT
12214                         Senior Data Scientist  San Francisco, CA
12215                          Senior Data Engineer  Oklahoma City, OK
12216              Medical Technologist, MLS or MLT    Mooresville, NC

[9468 rows x 2 columns]

In [ ]:
patterns = ['Machine Learning', 'Data Analyst', 'Data Scientist']
# ml_engineer = df_state[df_state['job_title'].str.contains("Machine Learning")]
# ds_engineer = df_state[df_state['job_title'].str.contains("Data Scientist")]
da_engineer = df_state[df_state['job_title'].str.contains("Data Analyst")]

(614, 2)