# Job skills analysis

In [1]:
import pandas as pd 
from collections import Counter
import re

In [2]:
df = pd.read_csv("Y:\code\data_sci\SkillCheck\dataset\job_skills.csv")

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\yusse\AppData\Local\Temp\ipykernel_7788\781776912.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv("Y:\code\data_sci\SkillCheck\dataset\job_skills.csv")

In [3]:
df.head()

,job_link,job_skills
0,https://www.linkedin.com/jobs/view/senior-mach...,"Machine Learning, Programming, Python, Scala, ..."
1,https://www.linkedin.com/jobs/view/principal-s...,"C++, Python, PyTorch, TensorFlow, MXNet, CUDA,..."
2,https://www.linkedin.com/jobs/view/senior-etl-...,"ETL, Data Integration, Data Transformation, Da..."
3,https://www.linkedin.com/jobs/view/senior-data...,"Data Lakes, Data Bricks, Azure Data Factory Pi..."
4,https://www.linkedin.com/jobs/view/lead-data-e...,"Java, Scala, Python, RDBMS, NoSQL, Redshift, S..."

In [21]:
skill.iloc[0, 1]

'Machine Learning, Programming, Python, Scala, Java, Data Engineering, Distributed Computing, Statistical Modeling, Optimization, Data Pipelines, Cloud Computing, DevOps, Software Development, Data Gathering, Data Preparation, Data Visualization, Machine Learning Frameworks, scikitlearn, PyTorch, Dask, Spark, TensorFlow, Distributed File Systems, Multi node Database Paradigms, Open Source ML Software, Responsible AI, Explainable AI'

In [28]:
skill_delimiters = [',', ';', '/', '|']
all_skills = []
for skill_string in df['job_skills'].astype(str).dropna():
    individual_skills = re.split('|'.join(map(re.escape, skill_delimiters)), skill_string)

    for skilled in individual_skills:
        cleaned_skill = skilled.strip().lower()

        if cleaned_skill:
            all_skills.append(cleaned_skill)

In [29]:
skill_counts = Counter(all_skills)

In [31]:
print(f'\nFound {len(skill_counts)} unique skills')
print("Top 10 most common skills:")
for skill, count in skill_counts.most_common(10):
    print(f"- {skill}: {count}")

Found 64611 unique skills
Top 10 most common skills:
- python: 4841
- sql: 4825
- data analysis: 3295
- machine learning: 2697
- communication: 2508
- data visualization: 2332
- aws: 1760
- project management: 1742
- data engineering: 1725
- communication skills: 1713